<head>
    <title>Login Page</title>
</head>
<body>
     <div class="header">
            <img class="luu" src="/Luushoes.PNG">
            <h1>Luu Shoes</h1>
    </div>
    <div class="login-container">
        <h2>Login</h2>
        <form action="/login" method="post">
            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password" required>
            <button type="submit" class="login">Log In</button>

            Don't have an account?<a href="/signup">Create one</a>
        </form>
    </div>
</body>
